name: Test

on: [push]

env:
  FORCE_COLOR: 1

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: true
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]
        cython-version: ["0.29", "3"]
        os: [ubuntu-24.04]
        exclude:
          - python-version: "3.13"
            cython-version: "0.29"
          - python-version: "3.14"
            cython-version: "0.29"

    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true
          python-version: ${{ matrix.python-version }}

      - name: Install Linux dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libattr1-dev libfuse3-dev fuse3
          sudo apt-get install -y pkg-config gcc

      - name: Install old Cython
        if: ${{ matrix.cython-version == '0.29' }}
        run: pip install "Cython<3"

      - name: Install modern Cython
        if: ${{ matrix.cython-version == '3' }}
        run: pip install "Cython>=3"

      - name: Build
        run: uv sync --locked

      - name: Run tests
        run: uv run pytest -v -rs test/

      - name: Build docs
        run: uv run sphinx-build -b html rst doc/html
